<div class="app-body">
  <app-header></app-header>
  <section class="first-section">

    <swiper-container *ngIf="burguers?.length"  #swiperEl slides-per-view="1.5" space-between="80" class="swiper-container" loop="true">

      <swiper-slide class="swiper-slide" *ngFor="let burguer of burguers">
        <img [src]="burguer?.imgPath">
      </swiper-slide>

    </swiper-container>

    <div class="info-food">
      <p>{{currentBurguer.name}}</p>
      <button>pedir</button>
    </div>
    <div class="shapeImg">
      <p class="textShapeImg">BURGUER</p>
      <p class="price">{{currentBurguer.price}}R$</p>

      <div class="slider-buttons">
        <button (click)="prevSlide()"> &lt; </button>
        <button (click)="nextSlide()"> &gt; </button>
      </div>
    </div>

  </section>
  <section class="second-section" id="menu-section">
    <div class="menu">
      <h2>Menu</h2>
      <div class="items-menu">
        <app-item-menu *ngFor="let burguer of burguers" title={{burguer?.name}} ingredients="Carne Queijo cheddar Bacon" srcImg={{burguer?.imgPath}}/>
      </div>
    </div>
  </section>
  <section *ngIf="combos?.length" id="combos-section">
    <h2>Combos</h2>
    <div class="combos" >
      <swiper-container #swiperEl2 slides-per-view="1" space-between="100" class="swiper-container-combos" loop="true">
        <swiper-slide class="swiper-slide" *ngFor="let combo of combos">
          <img [src]="combo?.imgPath">
        </swiper-slide>
      </swiper-container>
      <div class="combo-description">
        <p class="name-combo">{{currentCombo.name}}</p>
        <p class="items-of-combo">{{currentCombo.itemsCombo}}</p>
      </div>
      <button class="next-bt-combo" (click)="nextSlideCombo()">&gt;</button>
    </div>
  </section>
  <section class="contacts-section" id="contacts-section">
    <div class="get-emails">
      <label for="email">Insira seu email para receber novidades!</label>
      <div>
      <input name="email" type="text">
      <button>Enviar</button>
      </div>
    </div>
    <div class="contacts">

      <div class="line">
        <span class="material-symbols-outlined">
          call
        </span>
        <p> 4002-8922</p>
      </div>

      <div class="line">
        <span class="material-symbols-outlined">
          mail
          </span>
        <p>admin@burguer.com</p>
      </div>

      <div class="line">
        <span class="material-symbols-outlined">
          location_on
          </span>
        <p>Rua fantasia 02</p>
      </div>
    </div>
  </section>
</div>
